In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data.csv', engine = 'python')
df

,SERIAL_NUM,CUST_LOCATION,AGE,GENDER,JOB,BRANCH_DIST,AMT_EXCHANGE_A_M1,AMT_EXCHANGE_A_M2,AMT_EXCHANGE_A_M3,AMT_EXCHANGE_A_M4,...,AUM_M4,AUM_M5,AUM_M6,AUM_M7,AUM_M8,AUM_M9,AUM_M10,AUM_M11,AUM_M12,AUM_M13
0,161236,6,55~59,1,10.0,5�����H�W,0,0,0,0,...,12846,12846,12846,12846,12851,12857,12857,12857,12857,12857
1,163040,6,40~44,1,NaN,5�����H�W,0,0,0,0,...,364429,364429,364429,364429,364543,364722,364722,364722,364722,364722
2,68474,6,55~59,1,NaN,0.5-1����,0,0,0,0,...,459519,458700,457525,456755,456412,794587,1112762,1112754,1112491,1111970
3,159801,7,25~29,2,NaN,5�����H�W,0,0,0,0,...,40676,40676,40676,40676,40688,40708,40708,40708,40708,40708
4,117899,5,40~44,2,NaN,5�����H�W,0,0,0,0,...,456278,463297,463297,463297,463302,463309,463309,463309,463309,463309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200087,160203,5,45~49,1,6.0,5�����H�W,0,0,0,0,...,192046,209462,217583,229069,241606,248567,255879,267512,280540,286098
200088,35390,3,50~54,2,6.0,5�����H�W,0,0,0,0,...,1105383,1105383,1105383,1105383,1105383,1105383,1298390,2224820,2224820,2224820
200089,161122,4,45~49,1,NaN,5�����H�W,0,0,0,0,...,2006055,1900158,1798163,1675409,1549350,1492299,1987736,2191902,2249346,2327953
200090,186148,5,30~34,1,4.0,5�����H�W,0,0,0,0,...,661439,691359,703889,705602,710945,564681,549432,562778,586963,627933
200091,147374,5,40~44,1,2.0,5�����H�W,0,0,0,0,...,404257,404521,404768,405366,406645,407061,407386,407614,408153,408526

In [6]:
df.shape

(200092, 331)

In [12]:
ex = pd.read_excel('feature_detail.xlsx')
ex

    欄位分類            欄位名稱                           附加尾名範圍  欄位數量      欄位說明(初賽)
0   基本資料      Serial_num                              NaN   1.0          客戶序號
1    NaN   cust_location                              NaN   1.0        客戶所屬地區
2    NaN             age                              NaN   1.0          客戶年齡
3    NaN          gender                              NaN   1.0          客戶性別
4    NaN             job                              NaN   1.0        客戶職業類別
5    NaN     Branch_Dist                              NaN   1.0      最近分行距離級距
6   產品往來  AMT_Exchange_A                         _M1~_M13  13.0      換匯金額_通路A
7    NaN  AMT_Exchange_B                         _M1~_M13  13.0      換匯金額_通路B
8    NaN  AMT_Exchange_C                         _M1~_M13  13.0      換匯金額_通路C
9    NaN  CNT_Exchange_A                         _M1~_M13  13.0      換匯次數_通路A
10   NaN  CNT_Exchange_B                         _M1~_M13  13.0      換匯次數_通路B
11   NaN  CNT_Exchange_C                         _M1~_M13  13.0      換匯次數_通路C
12   NaN       AMT_INVST                         _M1~_M13  13.0      申購理財商品金額
13   NaN       CNT_INVST                         _M1~_M13  13.0      申購理財商品次數
14   NaN      AMT_LOAN_D                         _M1~_M13  13.0    貸款產品餘額_類別D
15   NaN      AMT_LOAN_E                         _M1~_M13  13.0    貸款產品餘額_類別E
16   NaN      AMT_LOAN_F                         _M1~_M13  13.0    貸款產品餘額_類別F
17  客戶行為         FLG_Web                         _M1~_M13  13.0        數位會員標籤
18   NaN   YN_Web_Active                         _M1~_M13  13.0     數位會員活躍度標籤
19   NaN      YN_SEC_ACC                         _M1~_M13  13.0         證券戶標籤
20   NaN   CNT_Web_Login                         _M1~_M13  13.0      數位通路互動指標
21   NaN  CNT_INTERACT_G                         _M1~_M13  13.0      往來次數_G通路
22   NaN  CNT_INTERACT_H                         _M1~_M13  13.0      往來次數_H通路
23   NaN  AMT_INTERACT_G                         _M1~_M13  13.0      往來金額_G通路
24   NaN  AMT_INTERACT_H                         _M1~_M13  13.0      往來金額_H通路
25  資產狀況           AUM_I                         _M1~_M13  13.0    持有資產金額_產品I
26   NaN           AUM_J                         _M1~_M13  13.0    持有資產金額_產品J
27   NaN           AUM_K                         _M1~_M13  13.0    持有資產金額_產品K
28   NaN           AUM_L                         _M1~_M13  13.0    持有資產金額_產品L
29   NaN           AUM_M                         _M1~_M13  13.0    持有資產金額_產品M
30   NaN             AUM                         _M1~_M13  13.0  持有資產金額(預測目標)
31   NaN             NaN  *M1即2019/5，M2為2019/6…M13為2020/5   NaN           NaN